<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Inicio</title>
</head>
<body>
    <!--     HEADER     -->
    <header>
        <div id="logo"></div>
        <nav id="header">
            <ul id="ul_header">
                <li class="li_header"><a href="{{ url_for('index') }}">Inicio</a></li>
                <li class="li_header"><a href="{{ url_for('mostrar_productos') }}">Lista de productos</a></li>
            </ul>
        </nav>
    </header>


    <main>

        <h1>Inicio</h1>
        <button type="button"><a href="{{ url_for('cargar_productos') }}">Cargar productos</a></button>

    </main>   

</body>
</html>
